<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>337583159086-b7rk00dr6r3d98hek5noiqgv0g61skdj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.337583159086-b7rk00dr6r3d98hek5noiqgv0g61skdj</string>
	<key>API_KEY</key>
	<string>AIzaSyBrR5AEhv1W5YjHrLHpOmJsxNUkYR8uCDQ</string>
	<key>GCM_SENDER_ID</key>
	<string>337583159086</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tuba.RawgGames</string>
	<key>PROJECT_ID</key>
	<string>rawg-ba95d</string>
	<key>STORAGE_BUCKET</key>
	<string>rawg-ba95d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:337583159086:ios:62ac4498afa7158dd22cbf</string>
</dict>
</plist>